<div class="container-fluid fullscreen">
    <div class="background-image fullscreen" ng-controller="loginCtrl">
        <div class="row fullscreen">
            <div class="col-md-2 col-md-offset-8 padtop padbot">
                <div class="input-group input-group-lg col-lg-12 padtop">
                    <input id="username" type="text" class="form-control niceinput bgtranslucent submitbutton" ng-model="username" placeholder="username">
                </div>
                <div class="input-group input-group-lg col-lg-12 padtop ">
                    <input id="password" type="password" class="form-control niceinput bgtranslucent submitbutton" ng-model="password" placeholder="password">
                </div>
                <div class="input-group input-group-lg col-lg-12 padtop ">
                    <button class="form-control btn btn-lg  btn-block bgtranslucent submitbutton niceinput"
                    ng-click="login()">
                        Submit
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
