<div class="row">
    <div class="col-xs-6">
        <searchfilter
            searchaction="searchaction">
            </searchfilter>
    </div>
    <div class="col-xs-6">
        <category-selector
            searchcategories="searchaction.searchcategories">
            </category-selector>
    </div>
</div>
<div class="table-responsive">
    <table class="table table-condensed table-bordered">
        <thead>
            <tr>
                <td>
                </td>
                <td ng-if="searchaction.searchcategories[0].shown">
                    <a href="#"
                        ng-click="sortType = 'ID'; sortReverse = !sortReverse">
                    ID
                    <span 
                    ng-show="sortType == 'ID' && !sortReverse" 
                    class="caret">
                    </span>
                    <span 
                    ng-show="sortType == 'ID' && sortReverse" class="dropup">
                        <span class="caret"></span></span>
                    </a>
                </td>
                <td ng-if="searchaction.searchcategories[1].shown">
                    <a href="#"
                        ng-click="sortType = 'name'; sortReverse = !sortReverse">
                        name
                        <span ng-show="sortType == 'name' && !sortReverse" class="caret"></span>
                        <span ng-show="sortType == 'name' && sortReverse" class="dropup">
                            <span class="caret"></span>
                        </span>
                    </a>
                </td>
                <td ng-if="searchaction.searchcategories[2].shown">
                    <a href="#"
                        ng-click="sortType = 'price'; sortReverse = !sortReverse">
                        price
                        <span ng-show="sortType == 'price' && !sortReverse" class="caret"></span>
                        <span ng-show="sortType == 'price' && sortReverse" class="dropup">
                            <span class="caret"></span></span>
                        </a>
                </td>
                <td>
                </td>
            </tr>
        </thead>
        <tr ng-repeat="item in itemlist
                | orderBy:sortType:sortReverse
                | filter:searchaction.search"
            ng-class-even="'even'">
            <td>
                <input type="checkbox"
                    id="select">
            </td>
            <td ng-if="searchaction.searchcategories[0].shown">
                {{item.ID}}
            </td>
            <td ng-if="searchaction.searchcategories[1].shown">
                {{item.name}}
            </td>
            <td ng-if="searchaction.searchcategories[2].shown">
                {{item.price}}
            </td>
            <td>
                <button class="btn btn-default btn-xs">view</button>
            </td>
        </tr>
    </table>
</div>
