<tr ng-repeat="item in itemlist track by $index">
    <td ng-if="$odd" style="background-color:#f1f1f1">
        {{product.ID}}
    </td>
    <td ng-if="$even" style="background-color:#f1f1f1">
        {{product.ID}}
    </td> <td style="background-color:#f1f1f1">
        {{product.ID}}
    </td> 
    <td ng-if="$odd" style="background-color:#f1f1f1">
        {{product.name}}
    </td>
    <td ng-if="$even" style="background-color:#f1f1f1">
        {{product.name}}
    </td> 
    <td ng-if="$odd" style="background-color:#f1f1f1">
        {{product.price}}
    </td>
    <td ng-if="$even" style="background-color:#f1f1f1">
        {{product.price}}
    </td>
</tr>