<nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
        <!-- note the ng-init and ng-click here: -->
        <button type="button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">BRAND</a>
    </div>
    <div class="collapse navbar-collapse" uib-collapse="navCollapsed">
        <ul class="nav navbar-nav">
            <li class="menuitem"><a href="/actress">Actress</a></li>
        </ul>
        
            <ng-include src="'components/Concentrator/navbar/navDropdown.html'" ng-controller="navbarCtrl"></ng-include>
        </ul>
    </div>
</nav>
</hr>
